.container {
  display: grid;
  grid-template-columns: 4fr 1fr;
}
.products {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 45px;
}

.cart h4 {
  text-align: center;
}
.cart li {
  list-style: none;
  padding: 10px;
  border: 2px solid #c8c3c2;
  border-radius: 10px;
  margin: 5px 0;
}
